@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    background-color: theme("colors.neutral.50");
    color: theme("colors.neutral.800");
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  a {
    color: inherit;
  }
}
